{{#> main }}
    {{> header pageTitle="HomePage"}}
    <strong>Nav: </strong>
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/pkcs10-subject/">pkcs10-subject</a></li>
<!--      <li><a href="/ocsp/">ocsp</a></li>-->
    </ul>
<!--    <h2>test</h2>-->
    <div class="cube"></div>
<!--    <img src="../../../assets/img/icon.png">-->
{{/main}}
